/* Fondo */
.background {
  min-height: 100%;
  width: 100%;
  justify-content: center;
  background: url('/assets/FondoBienvenida.png') center/cover no-repeat;
  position: fixed;
  top: 0%;
  left: 0%;
}

/* Tarjeta */
.card {
  
  margin-top: 10vh;
  margin-left: 60vh;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2vh);
  padding: 2vh;
  border-radius: 4vh;
  max-width: 80vh;
  width: 80vh;
  max-height: 70vh;
  height: 70vh;
  text-align: center;
  color: #1f1f1f;
}

/* Título */
.title {
  color: #FF8400;
  font-size: 7vh;
  font-weight: bold;
  margin-bottom: 8vh;
}

/* Párrafo */
.card p {
  font-size: 5vh;
  line-height: 1;
  margin-bottom: 8vh;
  color: #111A46;
}

/* Botón */
.btn {
  background-color: #FF8400;
  color: white;
  border: none;
  padding: 0.8rem 4vh;
  border-radius: 2vh;
  font-size: 5vh;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #e67300;
}
