<div class="board">
  <div class="players left">
    <app-player-panel 
      *ngFor="let p of players.slice(0,3)" 
      [name]="p.name"
      [avatar]="p.avatar"
      [cardsCount]="p.cards"
      [isCurrent]="p.name === 'polit01'">
    </app-player-panel>
  </div>

  <div class="center-cards">
      <div class="detailed-card-container" *ngIf="selectedCardIndex !== null">
      <img [src]="myCards[selectedCardIndex].detailedImage" alt="Carta Detallada" class="detailed-card-img" />
    </div>
    <!-- Slots restantes -->
    <div class="empty-slot" *ngFor="let _ of [1,2,3]"></div>
  </div>

  <div class="players right">
    <app-player-panel 
      *ngFor="let p of players.slice(3)" 
      [name]="p.name"
      [avatar]="p.avatar"
      [cardsCount]="p.cards"
      [isCurrent]="false">
    </app-player-panel> 
  </div>
</div>

<!-- Card Carousel at Bottom -->
<app-card-carousel 
  [cards]="myCards"
  [selectedIndex]="selectedCardIndex"
  (cardSelected)="selectCard($event)">
</app-card-carousel>
