<div class="board">
  <div class="players left">
    <app-player-panel 
      *ngFor="let p of players.slice(0,3)" 
      [name]="p.name"
      [avatar]="p.avatar"
      [cardsCount]="p.cards"
      [isCurrent]="p.name === 'polit01'">
    </app-player-panel>
  </div>

 <div class="center-cards">
  <ng-container *ngFor="let player of players; let i = index">
    <div *ngIf="i === 0 && selectedCardIndex !== null; else empty" class="detailed-card-container">
      <img [src]="myCards[selectedCardIndex].detailedImage" alt="Carta Detallada" class="detailed-card-img" />
    </div>
    <ng-template #empty>
      <div class="empty-slot"></div>
    </ng-template>
  </ng-container>
</div>


  <div class="players right">
    <app-player-panel 
      *ngFor="let p of players.slice(3)" 
      [name]="p.name"
      [avatar]="p.avatar"
      [cardsCount]="p.cards"
      [isCurrent]="false">
    </app-player-panel> 
  </div>
</div>

<!-- Card Carousel at Bottom -->
<app-card-carousel 
  [cards]="myCards"
  [selectedIndex]="selectedCardIndex"
  (cardSelected)="selectCard($event)">
</app-card-carousel>

